/* *{
    background-color: antiquewhite;
    margin: 0;
}
 h1{
            background-color: blue;
        }
        .second{
            color: green;
        }
        #third{
            color: aqua;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            
        } */